---
import Layout from "../../layouts/Layout.astro";
import CalendarioDemo from "../../components/CalendarioDemo.jsx";
---

<Layout title="Calendario - Demo">
  <div class="h-full p-4">
    <CalendarioDemo client:load />
  </div>
</Layout>
