---
import Layout from "../layouts/Layout.astro";
import CalendarioSimple from "../components/Calendario.jsx";
---

<Layout title="Calendario">
  <div class="h-full p-4">
    <CalendarioSimple client:load />
  </div>
</Layout>
