---
import Counter from "./Counter.jsx";
---

<section class="text-center space-y-4">
  <h1 class="text-4xl font-bold text-blue-600">¡Bienvenido a Astro 🚀!</h1>
  <p class="text-gray-600">Ahora usando React + Tailwind con Layouts.</p>
  <Counter client:load />
</section>
