---
import "../styles/global.css";
const { title = "Mi App Astro", description = "Astro + React + Tailwind" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="h-screen bg-gray-100 text-gray-800 font-sans">
    <main class="h-full">
      <slot />  <!-- Aquí se renderiza el contenido de cada página -->
    </main>
  </body>
</html>
